name: Cria nova tag
on:
  workflow_dispatch:
    inputs:
      INPUT_PROXIMA_VERSAO:
        description: 'Qual a pr처xima vers찾o?'
        required: true

jobs:
  update-version:
    name: Update Vers찾o
    runs-on: ubuntu-latest
    env:
      PROXIMA_VERSAO: ${{ github.event.inputs.INPUT_PROXIMA_VERSAO }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - run: |
          echo '{ "version": "'$PROXIMA_VERSAO'" }' > ./assets/version.json

      - uses: EndBug/add-and-commit@v9
        with:
          message: 'Bump vers찾o ${{ env.PROXIMA_VERSAO }}'
          add: '*.json --force'
          tag: '${{ env.PROXIMA_VERSAO }} --force'
          
